/* system */


.system .inner .system-section1 p {
    margin-bottom: 30px;
}

.system .inner .system-section1 .img_medium {
    display: none;
}

.system .inner .system-section1 .img_small {
    display: block;
    width: 100%;
}


.system .inner .system-section2 {
    display: block;
    text-align: center;
}

.system .inner .system-section2 img {
    margin: 0;
}

.system .inner .system-section3 {
    display: block;
    text-align: center;
}

.system .inner .system-section3 img {
    margin: 0;
}
